*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: grid;
    height: 80px;
    background-color: rgb(255,241,89);
    grid-template-columns: 100px 1fr 100px 100px ;
}
.box-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 90%;
}
.box-busqueda{
    outline: none;
    display: flex;
    align-items: center;
}
.box-busqueda{
    display: flex;
    align-items: center;
}
.box-busqueda input[type="text"]{
    outline: none;
    width: 100%;
    height: 35px;
    border: 0;
    font-size: .9em;
}
.box-icon-busqueda{
    background-color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.icon-busqueda{
    color: rgb(200,200,200, .9);
    font-size: .8em;
}
input[type="text"]::placeholder{
    color: rgb(96,96,96, .8-);
}
.icon-style{
    font-size: 1.3em;
}
.menu-hamburguesa, .carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}
