@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
header{
    position: fixed;
    background-color: white;
    z-index: 30;
    top: 0;
    width: 100%;
    display: grid;
    grid-template: " empty-left main-logo box-main-menu empty-rigth" 140px /
                      140px       1fr        2fr          50px ;
                    
}
.main-logo{
 grid-area:main-logo;
}
.img-logo{
padding: 40px;
}
.box-main-menu{
    grid-area: box-main-menu;
}
.main-menu{
 height: 100%;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 list-style: none;
 /* padding-right: 150px; */
}
.main-menu > li > a {
    color: rgb(64,64,64,.9);
    text-decoration: none;
    display: block;
    margin: 0 30px;
    font-size: 1.3em;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}
.main-circle{
    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    position: fixed;
    top: 280px;
    right: -950px;
    z-index: 5;
}
.main-circle-green{
    background-color: rgb(2,104,64);
}
.main-circle-light-pink{
     background-color: rgb(230,112,147);
}
.main-circle-dark-pink{
    background-color: rgb(194,73,159);
}
h1{
    font-size: 5em;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}
.title-color{
    color: rgb(2,104,64);
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 1.3em;
}
.main-content{
    margin-top: 140px;
   display: grid;
   grid-template: "empty-left product-text empty-center product-img social-media"/
                   140px       5fr          300px         4fr          80px;
}
.produc-text{
grid-area: product-text;
}
.product-img{
    grid-area: product-img;
    z-index: 10;
    
}
.description-text{
    margin-top: 30px;
    color: rgb(96,96,93);
    font-family: Poppins, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.button-learn {
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(2,104,64);
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
.social-media{
position: fixed;
right: 0;
top: 450px;
grid-area: social-media;
z-index: 10;
font-size: 2em;
color: white;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 40px;
margin-top: -100px;
}
footer{
   /*  position: relative; */
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40
    px;
    z-index: 10;
    color: white;
}
.style-img-mini{
 z-index: 20;
 position: relative;
 transition: all 600ms ;
 top: 0;
}
.style-img-mini:hover{
    cursor: pointer;
}
.mini-green:hover{
    top: -30px;
}
.mini-Light-pink:hover{
    top: -30px;
}
.mini-Dark-pink:hover{
    top: -30px;
}
