table {
    border-collapse: collapse;
    font-family: sans-serif;
    border-radius: 20px;
}
th {
    padding: 15px 20px;

}
.main-box{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 20px;
    text-align: center;
}

.th-basic {
 background-color:rgb(12, 196, 48);
color: white;
}
.th-silver {
background-color:rgb(51, 144, 255);
color: white;
}
.th-gold {
background-color: rgb(250, 137, 2);
color: white;
}
.th-platino {
    background-color: rgb(175, 2, 250);
    color: white;
    border-top-right-radius: 20px;
}
.check-style {
    color: green;
}
.error-style {
    color: rgb(223, 29, 29);
}
.class {
    background-color:rgb(51, 144, 255);
    color: white;
}
 .th-paquete {
    background-color:rgb(51, 144, 255);
    color: white;
    border-top-left-radius: 20px;
 }
 .th-HBO {
    background-color:rgb(51, 144, 255);
    color: white;
 }
 .th-2 {
    border: 1px solid rgb(228, 227, 227);
    background-color: rgb(172, 175, 179);
 }
 .th-3 {
    border: 1px solid rgb(228, 227, 227);
    background-color: rgb(172, 175, 179);
 }
 .th-HBO4 {
    background-color:rgb(51, 144, 255);
    color: white;
    border-bottom-left-radius: 20px;
 }
 .th-33{
     border: 1px solid rgb(228, 227, 227);
    background-color: rgb(172, 175, 179);
    border-bottom-right-radius: 20px;
    border-bottom: 0px;
    border-right: 0px;
 }

