
.box-direction {
    display: flex;
    flex-direction: row;
  }
  .box-style{
    width: 600px;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040404;
    font-size: 1.4em;
    text-align: center;
    font-size: tahoma, sans-serif;
    font-weight: 900;
  }
  .box-palevioletred{
    background-color: darkcyan;
  }